<footer>
  <div class="containers1">
    <div class="row">
      <div class="col-md-4">
        <h3><i class="bi bi-envelope-open-heart"></i> Contáctanos</h3>
        <p>Carrera 15 Avenida Principal</p>
        <p>Barranquilla, Colombia</p>
        <p>Teléfono: (+57) 301 787 6186</p>
        <p>Email: info@Winecmp.com</p>
      </div>
      <div class="col-md-4">
        <h3><i class="bi bi-calendar-heart-fill"></i> Horario de atención</h3>
        <p>Lunes a Viernes: 9am - 7pm</p>
        <p>Sábados: 9am - 1pm</p>
        <p>Domingos: cerrado</p>
      </div>
      <div class="col-md-4">
        <h3><i class="bi bi-slack"></i> Síguenos en redes sociales</h3>
        <ul class="social-media-icons">
          <li>
            <a href="#na"><i class="bi bi-facebook"></i> Facebook</a>
          </li>
          <li>
            <a href="#na"><i class="bi bi-twitter"></i> Twitter</a>
          </li>
          <li>
            <a href="#na"><i class="bi bi-instagram"></i> Instagram</a>
          </li>
          <li>
            <a href="#na"><i class="bi bi-youtube"></i> Youtube</a>
          </li>
        </ul>
      </div>
    </div>
    <hr />
    <p class="text-center mb-0">
      © 2023 {{title}}. Todos los derechos reservados.
    </p>
  </div>
</footer>
