<app-header-admin></app-header-admin>
<div style="padding: 0 10px">
  <div class="contenedor-img">
    <h2><i class="bi bi-bag-check-fill"></i> Vino Calidad</h2>
  </div>
</div>
<div class="containerAll">
  <div class="container">
    <div class="row mb-4">
      <div class="col-lg-12">
        <p class="descripcion">Descubre cómo la tecnología de vanguardia puede ayudarte a apreciar y seleccionar los mejores vinos. Nuestra plataforma combina el conocimiento experto en enología con algoritmos de aprendizaje automático para ofrecerte análisis precisos y objetivos sobre la calidad de distintas variedades de vinos.
          <br/>
          Además, información detallada sobre los factores clave que influyen en la calidad de un vino. Aprende a identificar las características distintivas de cada vino y descubre cómo las técnicas de inteligencia artificial pueden ayudarte a detectar matices y sutilezas que pueden pasar desapercibidos para el paladar no entrenado.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <form [formGroup]="fileForm">
          <div class="mb-3">
            <label for="formFile" class="cargue-archivo"
              ><i class="bi bi-file-earmark-spreadsheet-fill"></i> Cargue
              archivo .csv</label
            >
            <input
              class="form-control input-file"
              type="file"
              id="formFile"
              (change)="onFileSelected($event)"
            />
          </div>
        </form>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-lg-12 col-upload-btn">
        <button class="btn upload-btn" (click)="onUpload()">
          <i class="bi bi-file-earmark-arrow-down-fill"></i> Descargar Pdf
        </button>
        <button class="btn upload-btn" (click)="generateReport()">
          <i class="bi bi-file-medical-fill"></i> Ver Reporte
        </button>
        <div></div>
      </div>
      <div class="text-info" *ngIf="divVisible">
        <div class="row">
          <div class="col-lg-3">
            <label>Cant. Vinos malos:</label>
            <p>{{ badWines }}</p>
          </div>
          <div class="col-lg-3">
            <label>Cant. Vinos buenos:</label>
            <p>{{ goodWines }}</p>
          </div>
          <div class="col-lg-3">
            <label>Matriz de confusión:</label>
            <p>{{ matrixConf }}</p>
          </div>
          <div class="col-lg-3">
            <label>Rendimiento general:</label>
            <p>{{ f1Score }}</p>
          </div>
          <div class="col-lg-3">
            <label>Presición:</label>
            <p>{{ precision }}</p>
          </div>
          <div class="col-lg-3">
            <label>Recal score:</label>
            <p>{{ recalcScore }}</p>
          </div>
          <div class="col-lg-3">
            <label>Rendmiento:</label>
            <p>{{ performance }}</p>
          </div>
          <div class="col-lg-12">
            <label class="v-unicos">Valores unicos:</label>
          </div>
          <div class="col-lg-3" *ngFor="let vals of valoresUnicos">
            <p class="valores-unicos">{{ vals }}</p>
          </div>
        </div>
      </div>
      <div class="contenedor-graphs0 mb-4" *ngIf="divVisible">
        <h2><i class="bi bi-signpost-split-fill"></i> Arbol de desición</h2>
        <div class="row">
          <div class="col-lg-12 col-graphs0">
            <img src="{{ imagen3 }}" alt="" />
          </div>
        </div>
      </div>
      <div class="contenedor-graphs01 mb-4" *ngIf="divVisible">
        <h2><i class="bi bi-bar-chart-line-fill"></i> Título info.</h2>
        <div class="row">
          <div class="col-lg-12 col-graphs01">
            <img src="{{ imagen4 }}" alt="" />
          </div>
        </div>
      </div>
      <div class="contenedor-graphs1 mb-4" *ngIf="divVisible">
        <h2><i class="bi bi-pie-chart-fill"></i> Diagramas de barras</h2>
        <div class="row">
          <div class="col-lg-6 col-graphs1" *ngFor="let img1 of images1">
            <img src="{{ img1 }}" alt="" />
          </div>
        </div>
      </div>
      <div class="contenedor-graphs1 mb-4" *ngIf="divVisible">
        <h2><i class="bi bi-pie-chart-fill"></i> Diagramas de caja y bigote.</h2>
        <div class="row">
          <div class="col-lg-6 col-graphs1" *ngFor="let img2 of images2">
            <img src="{{ img2 }}" alt="" />
          </div>
        </div>
      </div>
      <!-- <div *ngFor="let img2 of images2">
      <img src="{{img2}}" alt="">
    </div> -->
    </div>
  </div>
</div>
