<app-header-admin></app-header-admin>
<section class="containerAll">
  <div class="row">
    <div class="col-xs-12 col-lg-7">
      <div class="home-content">
        <h1>Hola,</h1>
        <h3>
          Bienvenido
        </h3>
        <p>
          Ya has iniciado sesión, podrás disfrutar de nuestros servicios. Te ofrecemos una variedad de opciones, como calcular la hipotenusa de un triángulo rectángulo utilizando las medidas de sus catetos. También puedes explorar la calidad de los vinos a través de un práctico registro en formato .csv. ¡Y eso no es todo! También podrás responder a los mensajes de los usuarios que solicitan información.
        </p>
      </div>
      <div class="btn-box">
        <button routerLink="/hipotenusa" type="button" class="btn">Calcular Hipotenusa</button>
        <button routerLink="/entradaMens" type="button" class="btn">Bandeja de Entrada</button>
        <div id="acerca_de"></div>
      </div>
    </div>
    <div class="col-xs-12 col-lg-5">
      <div class="imagen">
        <img src="/assets/img/LogoVinoIndex.png" alt="dentist" />
      </div>
    </div>
  </div>
</section>
<div class="row servicios">
  <div class="col-xs-12 col-lg-12 text-servicios">
    <h2><i class="bi bi-bag-heart-fill"></i> Qué deseas hacer hoy</h2>
  </div>
  <div class="col-xs-12 col-lg-12">
    <div class="list-servies">
      <div class="cartas">
        <div class="img-card">
          <img src="/assets/img/hipotenusa.png" alt="valoración" />
        </div>
        <h3><i class="bi bi-triangle-half"></i> Red Neuronal</h3>
        <h4>
          Calcula la hipotenusa de un triangulo rectangulo con las medidas de sus catetos.
        </h4>
        <button routerLink="/hipotenusa" type="button" class="btn">
          <i class="bi bi-triangle-half"></i> Ir Red Neuronal
        </button>
      </div>
      <div class="cartas">
        <div class="img-card">
          <img src="/assets/img/serv2.png" alt="ChatBot" />
        </div>
        <h3><i class="bi bi-clipboard2-data-fill"></i> Arbol de desición</h3>
        <h4>
          Observa la calidad de vinos a través de graficas e información relevante.
        </h4>
        <button routerLink="/vinoCalidad" type="button" class="btn">
          <i class="bi bi-clipboard2-data-fill"></i> Ir Arbol de Desiciones
        </button>
      </div>
      <div class="cartas">
        <div class="img-card">
          <img src="/assets/img/mails.png" alt="valoración" />
        </div>
        <h3><i class="bi bi-inbox-fill"></i> Responder Solicitud</h3>
        <h4>
          Responde solicitudes de contactenos enviadas por visitante de la plataforma.
        </h4>
        <button routerLink="/entradaMens" type="button" class="btn">
          <i class="bi bi-inbox-fill"></i> Ver solicitudes
        </button>
        <div id="contactanos_id"></div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
