<app-header></app-header>
<section class="containerAll">
  <div class="row">
    <div class="col-xs-12 col-lg-7">
      <div class="home-content">
        <h1>Hola,</h1>
        <h3>
          Somos <span>{{ title }}</span>
        </h3>
        <p>
          ¡Bienvenido a nuestra página de evaluación de calidad de vinos con inteligencia artificial! Descubre cómo la tecnología de vanguardia puede ayudarte a apreciar y seleccionar los mejores vinos. Nuestra plataforma combina el conocimiento experto en enología con algoritmos de aprendizaje automático para ofrecerte análisis precisos y objetivos sobre la calidad de distintas variedades de vinos.
        </p>
      </div>
      <div class="btn-box">
        <button routerLink="" type="button" class="btn">Calidad de Vinos</button>
        <div id="acerca_de"></div>
      </div>
    </div>
    <div class="col-xs-12 col-lg-5">
      <div class="imagen">
        <img src="/assets/img/LogoVinoIndex.png" alt="dentist" />
      </div>
    </div>
  </div>
</section>
<div class="row about-us">
  <div class="col-xs-12 col-lg-6 colImg">
    <img src="/assets/img/estanteriaVinos.png" alt="about us" />
  </div>
  <div class="col-xs-12 col-lg-6">
    <div class="text-aboutUs">
      <h2><i class="bi bi-patch-check-fill"></i> Acerca de nosotros</h2>
      <h3>
        En <span>{{ title }}</span
        >, Encontraras información detallada sobre los factores clave que influyen en la calidad de un vino, como el aroma, el sabor, la textura y la estructura general. Aprende a identificar las características distintivas de cada vino y descubre cómo las técnicas de inteligencia artificial pueden ayudarte a detectar matices y sutilezas que pueden pasar desapercibidos para el paladar no entrenado.
      </h3>
      <button type="button" class="btn">Contactar</button>
      <div id="servicios_id"></div>
    </div>
  </div>
</div>
<div class="row servicios">
  <div class="col-xs-12 col-lg-12 text-servicios">
    <h2><i class="bi bi-bag-heart-fill"></i> Servicios</h2>
  </div>
  <div class="col-xs-12 col-lg-12">
    <div class="list-servies">
      <div class="cartas">
        <div class="img-card">
          <img src="/assets/img/hipotenusa.png" alt="valoración" />
        </div>
        <h3><i class="bi bi-triangle-half"></i> Red Neuronal</h3>
        <h4>
          Calcula la hipotenusa de un triangulo rectangulo con las medidas de sus catetos.
        </h4>
        <button routerLink="/hipotenusa" type="button" class="btn">
          <i class="bi bi-triangle-half"></i> Ir Red Neuronal
        </button>
      </div>
      <div class="cartas">
        <div class="img-card">
          <img src="/assets/img/serv2.png" alt="ChatBot" />
        </div>
        <h3><i class="bi bi-clipboard2-data-fill"></i> Arbol de desición</h3>
        <h4>
          Observa la calidad de vinos a través de graficas e información relevante.
        </h4>
        <button routerLink="/vinoCalidad" type="button" class="btn">
          <i class="bi bi-clipboard2-data-fill"></i> Ir Arbol de Desiciones
        </button>
      </div>
      <div class="cartas">
        <div class="img-card">
          <img src="/assets/img/serv3.png" alt="valoración" />
        </div>
        <h3><i class="bi bi-stars"></i> ¡Proximamente!</h3>
        <h4>
          Estamos trabajando para traer más servicios Proximamente.
        </h4>
        <button type="button" class="btn">
          <i class="bi bi-stars"></i> Proximamente
        </button>
        <div id="contactanos_id"></div>
      </div>
    </div>
  </div>
</div>
<div class="row contactanos">
  <div class="col-xs-12 col-lg-6">
    <form [formGroup]="contactForm">
      <div class="row contactanos-form">
        <div class="col-xs-12 col-lg-7 mb-3">
          <label for="Nombre" class="form-label">Nombre</label>
          <input
            type="text"
            class="form-control"
            id="Nombre"
            placeholder="Andrés"
            formControlName="nombre"
          />
          <div
            *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)"
            class="text-danger"
          >
            <div *ngIf="nombre.errors?.['required']">Ingrese nombre.</div>
          </div>
        </div>
        <div class="col-xs-12 col-lg-5 mb-3">
          <label for="Apellido" class="form-label">Apellido</label>
          <input
            type="text"
            class="form-control"
            id="Apellido"
            placeholder="Medina"
            formControlName="apellido"
          />
          <div
            *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)"
            class="text-danger"
          >
            <div *ngIf="apellido.errors?.['required']">Ingrese apellido.</div>
          </div>
        </div>
        <div class="col-xs-12 col-lg-4 mb-3">
          <label for="asunto" class="form-label">Asunto</label>
          <input
            type="text"
            class="form-control"
            id="asunto"
            placeholder="Asunto"
            formControlName="asunto"
          />
          <div
            *ngIf="asunto.invalid && (asunto.dirty || asunto.touched)"
            class="text-danger"
          >
            <div *ngIf="asunto.errors?.['required']">Ingrese un asunto.</div>
          </div>
        </div>
        <div class="col-xs-12 col-lg-8 mb-3">
          <label for="correo" class="form-label">E-mail</label>
          <input
            type="email"
            class="form-control"
            id="correo"
            placeholder="Micorreo@email.com"
            formControlName="email"
          />
          <div
            *ngIf="email.invalid && (email.dirty || email.touched)"
            class="text-danger"
          >
            <div *ngIf="email.errors?.['required']">Ingrese email.</div>
            <div *ngIf="email.errors?.['email']">
              Por favor, ingrese email valido.
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-lg-12 mb-3">
          <label for="observacion" class="form-label">Requiero:</label>
          <input
            type="text"
            class="form-control"
            id="observacion"
            placeholder="Información de ..."
            formControlName="mensaje"
          />
          <div
            *ngIf="mensaje.invalid && (mensaje.dirty || mensaje.touched)"
            class="text-danger"
          >
            <div *ngIf="mensaje.errors?.['required']">Ingrese su mensaje.</div>
          </div>
        </div>
        <div class="col-xs-12 col-lg-12 boton">
          <button type="button" class="btn" (click)="sendContact()">
            <i class="bi bi-send-fill"></i> Recibir Información
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-xs-12 col-lg-6 contactanosYa">
    <h3>¿Qué esperas?</h3>
    <h2>¡Contactanos Ya!</h2>
    <i class="bi bi-phone-fill"></i>
  </div>
</div>
<app-footer></app-footer>
