<header class="header">
  <a href="#" class="logo">{{title}}</a>

  <nav class="navbar">
    <a routerLink="/logAdmin" class="bi bi-house-heart-fill"> Inicio</a>
    <a routerLink="/hipotenusa" class="bi bi-triangle-half"> Red Neuronal</a>
    <a routerLink="/vinoCalidad" class="bi bi-clipboard2-data-fill"> Calidad Vino</a>
    <a routerLink="/entradaMens" class="bi bi-inbox-fill"> Bandeja Entrada</a>
    <a type="button" (click)="logOut()" class="active bi bi-person-badge-fill"> Cerrar Sesión</a>
  </nav>
</header>
